@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(26, 26, 26);
}
.logo h3{
color: rgb(253, 242, 203);
font-size: 34px;
font-weight: 500;
}
.logo  a{
text-decoration: none;
}
.navbar{
   display: flex;
   align-items: center;
   padding: 20px;
   position: relative;
   
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav  li a{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(253, 242, 203);
    text-align: center;
    padding: 12px 40px;
    border-radius: 50px;
    color: rgb(253, 242, 203);
}
nav span a{
    background: #E7DCBD 0% 0% no-repeat padding-box;
    color: black;
}

.drp-bx{
    position: absolute;
    left: 55%;
    width: 38%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
   
  }
.drp-row{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
   
}
.drp-col{
    flex: 1;
    padding: 20px;
    cursor: pointer;
}
.drp-col a{
    text-decoration: none;
margin-left: -10px;
   border: none;
   color: black;
   text-align: left;
   padding: 0;
   
 
}
.drp-col img{
    width: 60px;
    height: 60px;
}

#MenuItems a{
  
   
    font-weight: 400;
    transition: all .60s ease;
    display: inline-block;
}
.drp-hd p{
    font-size: 12px;
}
#MenuItems li:hover .drp-bx{
  transition: all 0.5s ease;

  opacity: 1;
  visibility: visible;
}

.drp-ln:first-child{

    border-right: 2px solid rgb(173, 169, 152);
}
#home{

    max-width: 1600px;
    margin: auto;
   
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.col-2{
flex-basis: 42%;
min-width: 300px;

}
.col-2 img{
    width: 600px;
    padding: 50px 0;
}
.col-2 h2{
    color: rgb(253, 242, 203);
    font-size: 80px;
    line-height: 90px;
    font-weight: 500;
    margin: 25px 0;
}
.col-2 p{
    color: rgb(253, 242, 203);
    font-size: 28px;
}
.home-btn{
    /*display: inline-block;*/
    width: 240px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    padding: 6px 30px;
    text-align: center;
    border-radius: 10px;
}
.home-btn a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}
.btn-row{
    display: flex;
}
.btn-row p{
    font-size: 20px;
    margin-left: 20px;
    
}


.startegic{
    margin: 70px 0;
    max-width: 1600px;
    margin: auto;
    
}
.str-text h2{

   text-align: center;
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
    margin: 10px 0;
   
}
.str-text p{

    text-align: center;
     color: rgb(253, 242, 203);
     font-size: 26px;
     margin-bottom: 70px;
    
 }
 /*mid*/
 .h-cen{
    max-width: 1600px;
    margin: auto;
 }
.h-row{
    display: flex;
    
}

/*nav*/
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
  
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(56, 56, 56);
        height: 80vh;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
 
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .drp-bx{
        
        left: 10%;
        width: 80%;
        padding: 0 10px;
        top: 250px;
        
       
      }
    .drp-row{
       
        margin: 5px;
       
    }
    .drp-col{
        flex: 1;
        padding: 10px;
    }
    .drp-col img{
        width: 50px;
        height: 50px;
    }
 
    .drp-hd p{
        font-size: 9px;
    }
    .drp-hd h3{
        font-size: 12px;
    }
   .drp-ln:first-child{
    margin: 12px;
        border-right: 2px solid rgb(173, 169, 152);
    }
}





/*footer*/
 footer{
   
    margin: 20px;
    max-width: 1600px;
    margin: auto;
 }
 footer .container{
    margin-top: 8%;
}

.f-row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
   
}
.footer-col ul{
    list-style: none;
}

.footer-col h3{
    
    margin-bottom: 25px;
    position: relative;
    color: rgb(253, 242, 203);
font-size: 34px;
font-weight: 500;
    
}

.footer-col p{
    
    margin-bottom: 25px;
    position: relative;
    color: rgb(253, 242, 203);
    
    font-size: 20px;
    
}
.footer-col h4{
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    color: rgb(253, 242, 203);
   
}

/*.footer-col ul li{
    padding: 10px 0;
}*/
.footer-col ul li a{
    color: rgb(253, 242, 203);
    text-decoration: none;
    font-size: 20px;
    
   
}


.col p{
    color: rgb(253, 242, 203);
    font-size: 20px;
}
.col span{
    font-size: 24px;
    
}
.f-row hr{
    color: rgb(253, 242, 203);
}

.row .socialIcons i{
    display: inline-block;
    color: rgb(253, 242, 203);
    font-size: 20px;
    margin: 0 15px;
    padding: 10px;
    
    border: 1px solid rgb(253, 242, 203);
    border-radius: 50px;
}




@media (max-width: 600px){
    footer .f-row{
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .col-2 img{
        width: 300px;
        padding: 50px 0;
    }
    .col-2 h2{
        color: rgb(253, 242, 203);
        font-size: 50px;
        line-height: 60px;
        font-weight: 500;
        margin: 25px 0;
    }
    .btn-row{
        flex-direction: column;
    }
    .btn-row p{
        margin-top: 20px;
         margin-left: 0;
    }
    .str-text h2{
        font-size: 50px;
         line-height: 60px;
        }
     .str-text p{
        font-size: 22px;
    }
}


/*projects*/
.project-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 100px;
}
.pro-col-2{
flex-basis: 42%;
min-width: 300px;

}
.pro-col-2 img{
    width: 250px;
    padding: 50px 0;
}
.pro-col-2 h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
    margin: 25px 0;
}
.pro-col-2 p{
    color: rgb(253, 242, 203);
    font-size: 22px;
    
}
.pro-btn{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    width: 450px;
    margin: 50px 0;
  
 
    padding: 6px 30px;
    text-align: center;
    border-radius: 10px;

}
.pro-btn a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
   
}
@media (max-width: 600px){
    .pro-btn{
      
        width: 250px;
  }   
  .pro-col-2 p{
   
    font-size: 18px;
    
}
        
    }
    
/* letschat*/

.letschat-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 100px;
}
.let-col-2{
    flex-basis: 48%;
    min-width: 300px;

}
.let-col-2 img{
    width: 250px;
    padding: 40px 0;
}
.let-col-2 h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
    margin-bottom: 30px;
    /*margin: 25px 0;*/
}
.let-col-2 p{
    color: rgb(253, 242, 203);
    font-size: 22px;
    margin-bottom: 30px;
    
}
/*.let-btn{
    background: rgb(253, 242, 203);
    margin: 36px 0;
    padding: 26px 10%;
    border-radius: 50px;

}
.let-btn a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
   
}
.let-btn a span{
    margin-left: 60%;
    font-size: 40px;
    
}*/
.let-col-3{
    flex-basis: 48%;
    min-width: 300px;
    margin-top: 10%;

}
.let-btn{
   
    width: 710px;
height: 119px;
background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
border-radius: 60px;
margin-bottom: 30px;

   
}

.let-btn a{
   margin-top: 30px;
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
   

}
.let-btn .text{
    margin-top: 30px;
     color: rgb(18, 18, 18);
     text-decoration: none;
     font-size: 35px;
     font-weight: 600;
    margin-left: 30px;
 
 }
.let-btn-cen{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.let-btn img{
    margin-top: 30px;
    width: 60px;
    cursor: pointer;
}

@media (max-width: 600px){
    .let-btn{
   
        width: 355px;
    height: 60px;
   
    border-radius: 60px;
    margin-bottom: 30px;
    
       
    }
    
    .let-btn a{
       margin-top: 15px;
       
       
        font-size: 20px;
        font-weight: 600;
       
    
    }
    .let-btn .text{
        margin-top: 15px;
         
         font-size: 20px;
         font-weight: 600;
        margin-left: 30px;
     
     }
    .let-btn-cen{
        display: flex;
        align-items: center;
        justify-content: space-around;
       
    }
    .let-btn img{
        margin-top: 15px;
        width: 40px;
        cursor: pointer;
    }
        
    }



/*about*/
.about-img img{
    margin:auto;
    display: block;
    width: 600px;
   
}
.abt-text{
    text-align: center;
}
.abt-text h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 600;
    margin-bottom: 70px;
}
.abt-row{
    display: flex;
    margin: 10px;
    margin-bottom: 70px;
   
}
.abt-column{
    flex: 1;
    padding: 10px;
    
   
}
.abt-col1:first-child{
   border-left: 1px solid rgb(253, 242, 203);
   
}
.abt-col2:first-child{
    border-left: 1px solid rgb(253, 242, 203);
    
 }
/*.abt-column:first-child{
    border-left: 1px solid rgb(253, 242, 203);
    margin: 20px;
   
 }*/
 .abt-column2{
    display: flex;
    
}
.abt-column2 img{
    width: 60px;
    height: 60px;
   margin: 10px;
   margin-left: 40px;
}
 .abt-column h3{
    font-size: 30PX;
    color: rgb(253, 242, 203);
    font-weight: 400;
    margin-bottom: 20px;
 }
 .abt-col{
    margin: 0px 30px;
 }
 .abt-column h2{
    color: rgb(253, 242, 203);
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 40px;
 }
 .abt-column p{
    font-size: 24PX;
    color: rgb(253, 242, 203);
   
 }
 .num-col{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
}

 .num p{
    font-size: 14px;
    margin-left: 20px;
 }
 .num h1{
    font-size: 40px;
    color: rgb(253, 242, 203);
    font-weight: 400;
    margin-left: 20px;
 }
 .num{
    flex-basis: 30%;
}
 @media (max-width: 600px){
.abt-row{
    flex-direction: column;
}
.abt-col1:first-child{
    margin: 10px;
    
 }
 .abt-col2:first-child{
    
    margin: 10px;
    
 }
.mid-row{
    flex-direction: column;
}

.mid-box1 img{
    width: 400px;
    padding: 30px 10%;
}
.about-img img{
   
    width: 300px;
}
.num p{
    font-size: 12px;
   
 }
 .num h1{
    font-size: 35px;
    
 }

 .mid-hd img{
  margin: 20px;
}
.imd-img{
    flex-wrap: wrap;
}
.num1 p{
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 40px;
 }
 .num1 h2{
    font-size: 35px;
    margin-left: 35px;
}
 

}


#abt-mid{

    max-width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}
.mid-row{
    display: flex;
 
    margin: 10px;
}
.mid-col{
    flex: 1;
    padding: 10px;
}
.mid-box{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 40px 60px 40px 40px;
    margin-bottom: 20px;
   
}
.mid-box p{
    font-size: 22px;
   
   font-weight: 400;
}

.mid-box1 img{
    
    padding: 30px 25%;
    
    
}
.mid-hd{
    display: flex;
}
.mid-hd h3{
   
    font-weight: 600;
    font-size: 26px;
}
.mid-hd img{
    width: 60px;
    height: 60px;
    margin-left: 40px;
   margin-bottom: 30px;
}

.imd-img{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
    
}

 .num1 p{
    font-size: 14px;
    
    color: rgb(253, 242, 203);
 }
 .num1 h2{
    font-size: 40px;
    color: rgb(253, 242, 203);
    font-weight: 400;
   
   
   
   
 }
 .num1{
    flex-basis: 50%;
}
/*.num1:first-child{
    border-left: 1px solid rgb(253, 242, 203);
   
}*/
.num1 img{
    margin-left: 40px;
}

#abt-bx{
    margin: 70px 0;
    max-width: 1560px;
    margin: auto;
    background: #404040 0% 0% no-repeat padding-box;
    border: 1px solid #F9E6B5;
    display: flex;
    border-radius: 10px;
   
}
.abt-bx-cen{
    margin: 20px;
    margin-bottom: 100px;
   
}
.bx-row{
    
    
    padding: 40px 60px 40px 40px;
}
.bx-row h1{
    font-size: 28px;
    color: rgb(253, 242, 203);
    font-weight: 500;
    margin-bottom: 20px;
}
.bx-row p{
    font-size: 20px;
    color: rgb(253, 242, 203);
}

/*products2*/

.pro2-container{
    display: flex;
    margin: 20px;
    margin-bottom: 70px;
}
.pro2-column{
    flex: 1;
    padding: 10px;
}
.pro2-column img{
    width: 250px;
    padding: 40px 0;
}
.pro2-column h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
   margin-bottom: 20px;
}
.pro2-column p{
    color: rgb(253, 242, 203);
    font-size: 22px;
}
.pro2-column1 img{
    padding: 60px;
    width: 800px;
}

#pro2-mid{

    max-width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}
.pro2-mid-row{
    display: flex;
 
    margin: 20px;
}
.pro2-mid-col{
    flex: 1;
    padding: 10px;
}
.pro2-mid-col h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
   margin-bottom: 20px;
}
.pro2-btn{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    width: 500px;
    margin: 36px 0;
    padding: 26px 8%;
    border-radius: 50px;
}

.pro2-btn a{
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}
.pro2-btn img{
    margin-left: 50px;
    width: 60px;
}

.pro2-btn1{
    border: 1px solid #F2E2B8;

    width: 500px;
    margin: 36px 0;
    padding: 26px 10%;
    border-radius: 50px;
}

.pro2-btn1 a{
    color: rgb(253, 242, 203);
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}
.pro2-btn1 img{
    margin-left: 32%;
    width: 60px;
}
.bx{
    
    width: 717px;
    height: 345px;
    background: none;
    border: 1px solid #E8DBBD;
    border-radius: 10px;

}
.bx img{
   padding: 20px 25% ;
}
@media (max-width: 600px){
.pro2-container{
        flex-direction: column;
    }
    .pro2-column h2{
        
        font-size: 44px;
       
    }
  
    .pro2-column1 img{
        padding: 10px;
        padding-right: 40px;
        width: 400px;
    }
    .pro2-mid-row{
        flex-direction: column;
    }
    .pro2-btn{
       
        width: 350px;
       
        padding: 20px 6%;
        
    }
    
    .pro2-btn a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .pro2-btn img{
        
        width: 40px;
    }
    .pro2-btn1{
        width: 350px;
        padding: 26px 6%;
    }
    
    .pro2-btn1 a{
        font-size: 20px;
    }
    .pro2-btn1 img{
       
        width: 40px;
    }
    .bx{
        width: 350px;
    }
    .bx img{
       padding: 20px 8% ;
    }

   
}

/*pro3*/
/*.pro3-container{
    display: flex;
    margin: 20px;
    margin-bottom: 70px;
}
.pro3-column{
    flex: 1;
    padding: 10px;
    width: 100px;
}
.pro3-column img{
    width: 250px;
    padding: 40px 0;
}
.pro3-column h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
   margin-bottom: 20px;
}
.pro3-column p{
    color: rgb(253, 242, 203);
    font-size: 22px;
}
.pro3-btn{
    background: rgb(253, 242, 203);
 
   
    border-radius: 50px;
}
.pro3-col-2{

    margin-top: 10%;
}
.pro3-in{
    
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pro3-btn a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
.pro3-btn img{
   
  width: 80px;
}

@media (max-width: 600px){
    .pro3-container{
        flex-direction: column;
    }
  
    .pro3-in{
        flex-direction: column;
        
    }
        
    }*/




/*home*/
.home-row{
    display: flex;
    margin: 10px;
    margin-bottom: 70px;
   
}
.home-column{
    flex: 1;
    padding: 10px;
    
   
}
.home-column:first-child{
   border-right: 1px solid rgb(253, 242, 203);
   
}
.home-column:first-child{
    border-left: 1px solid rgb(253, 242, 203);
    margin: 20px;
   
 }
 .home-column2{
    display: flex;
}

.home-column2 img{
    width: 80px;
    height: 80px;

   margin-left: 40px;
}
 .home-column h3{
    font-size: 30PX;
    color: rgb(253, 242, 203);
    font-weight: 400;
    margin-bottom: 20px;
 }
 .home-col{
    margin: 0px 30px;
 }
 .home-column h2{
    color: rgb(253, 242, 203);
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 40px;
 }
 .home-column p{
    font-size: 24px;
    color: rgb(253, 242, 203);
   
 }

 /*project4*/

 #pro4-mid{

    max-width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}
.pro4-mid-row{
    display: flex;
 
    margin: 20px;
}
.pro4-mid-col{
    flex: 1;
    padding: 10px;
}
.pro4-mid-col h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
   margin-bottom: 20px;
}
.pro4-btn{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    width: 500px;
    margin: 36px 0;
    padding: 26px 8%;
    border-radius: 50px;
}

.pro4-btn a{
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}
.pro4-btn img{
    margin-left: 50px;
    width: 60px;
}

.pro4-btn1{
    border: 1px solid #F2E2B8;
    width: 500px;
    margin: 36px 0;
    padding: 26px 7%;
    border-radius: 50px;
}

.pro4-btn1 a{
    color: rgb(253, 242, 203);
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}
.pro4-btn1 img{
    margin-left: 5%;
    width: 60px;
}
.pro5-btn{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    width: 500px;
    margin: 36px 0;
    padding: 26px 8%;
    border-radius: 50px;
}

.pro5-btn a{
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}
.pro5-btn img{
    margin-left: 100px;
    width: 60px;
}

.pro5-btn1{
    border: 1px solid #F2E2B8;
    width: 500px;
    margin: 36px 0;
    padding: 26px 7%;
    border-radius: 50px;
}

.pro5-btn1 a{
    color: rgb(253, 242, 203);
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}
.pro5-btn1 img{
    margin-left: 30%;
    width: 60px;
}
.bx1{
    
    width: 717px;
    height: 345px;
    background: none;
    border: 1px solid rgb(253, 242, 203);
    border-radius: 10px;

}
.bx1 img{
   padding: 20px 25% ;
}
@media only screen and (max-width: 800px){
    .pro4-container{
        flex-direction: column;
    }
  
    .pro4-column1 img{
        padding: 60px;
        width: 400px;
    }
    .pro4-mid-row{
        flex-direction: column;
    }
    .pro4-btn{
       
        width: 350px;
       
        padding: 20px 6%;
        
    }
    
    .pro4-btn a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .pro4-btn img{
        
        width: 40px;
    }
    
    .pro4-btn1{
        width: 350px;
        padding: 26px 6%;
    }
    .pro4-btn1 img{
        margin-left: 5%;
        width: 40px;
    }
    .pro4-btn1 a{
        font-size: 20px;
    }
    .pro5-btn{
       
        width: 350px;
       
        padding: 20px 6%;
        
    }
    .pro5-btn a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .pro5-btn img{
        margin-left: 80px;
        width: 40px;
    }
    .pro5-btn1{
        width: 350px;
        padding: 26px 6%;
    }
    .pro5-btn1 img{
        margin-left: 28%;
        width: 40px;
    }
    .pro5-btn1 a{
        font-size: 20px;
    }
    .bx1{
    
        width: 350px;
      
    
    }
    .bx1 img{
       padding: 20px 6% ;
    }
}

/*final*/

.final-container{
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.final-column{
   
    flex-basis: 42%;
    min-width: 300px;
}
.final-column img{
    width: 250px;
    padding: 40px 0;
}
.final-column h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
   margin-bottom: 20px;
}
.final-column p{
    color: rgb(253, 242, 203);
    font-size: 22px;
}
.final-column1{
   margin-top: 15%;
    flex-basis: 42%;
    min-width: 300px;
}
.final-column1 img{
    width: 250px;
    padding: 40px 0;
}
.final-column1 h2{
    color: rgb(253, 242, 203);
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
   margin-bottom: 20px;
}
.final-column1 p{
    color: rgb(253, 242, 203);
    font-size: 22px;
}

.final-box{
    
  width: 655px;

  background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
  padding: 20px 40px;
    margin-bottom: 40px;
   
}
.final-box p{
    font-size: 22px;
   color: black;
   font-weight: 400;
}


.final-hd{
    display: flex;
 
    
}
.final-hd h3{
   margin: 30px;
    font-weight: 600;
    font-size: 26px;
}


.final-hd img{
    width: 60px;

   
}

.cen-con{
    margin-top: 6%;
    width: 1558px;
    height: 300px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        padding: 40px 60px 40px 40px;
        
        margin: 20px;
}


  .cen-box p{
      font-size: 22px;
     color: black;
     font-weight: 400;
  }
  
  
  .cen-hd{
      display: flex;
   
      
  }
  .cen-hd h3{
    margin-left: 20px;
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 40px;
  }
  
  
  .cen-hd img{
      width: 60px;
  height: 60px;
     margin: 10px;
  }

  /*carousel*/

  #carousel{

    max-width: 1600px;
    margin: auto;
   
}
.f-hd{
    margin: 20px;
}
.f-hd p{
    font-size: 22px;
    color: rgb(253, 242, 203);
    font-weight: 400;
    margin-bottom: 40px;
}
.f-hd h1{
    font-size: 60px;
    color: rgb(253, 242, 203);
    font-weight: 600;
    margin-bottom: 20px;
}
.owl-carousel{
    margin: 20px;
    margin-bottom: 100px;
}
.caro-box{
    
    width: 750px;
    height: 441px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        padding: 50px;
       
        margin-top: 6%;
   
}


  .caro-box li p{
      font-size: 22px;
     color: black;
     font-weight: 400;
 }
  
  
  .caro-hd{
      display: flex;
   
      
  }
  .caro-box h3{
    margin-left: 20px;
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 40px;
  }
  
  
  .caro-hd img{
    height: 60px;
    max-width: 60px;
    margin: 10px;
   
  }
.f-img{
    max-width: 1600px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 80px;
    position: relative;
}
.f-cen{
   
    margin: 20px;
}
.f-cen img{
    width: 1558px;
    
}
#text-and-button {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    display: flex;
    align-items: center;
   
  }

  #text {
   margin-left: -150px;
    /*transition: max-height 0.5s;*/
color: black;
background: white;
   
width: 744px;
padding: 40px 100px;
border-radius: 100px;
font-size: 26px;

  }

  #playButton {
    background: transparent;
   z-index: 1;
    cursor: pointer;
  }

  button{
    border: none;
}
#text-and-button.hide {
    display: none;
   
  }
  @media only screen and (max-width: 800px){
    .final-box{
    
        width: 370px;
      height: 480px;
        margin-top: 20%;
          padding: 20px 40px 20px 20px;
         
         
      }
      .final-box p{
          font-size: 18px;
      
      }
      .final-hd h3{
         margin: 30px;
          font-weight: 600;
          font-size: 22px;
      }
      .final-hd img{
          width: 80px;
          
      }
      .cen-con{
        
        width: 380px;
        height: 500px;
           
            padding: 20px 40px 20px 20px;
            margin-bottom: 100px;
    }
    
      .cen-box p{
          font-size: 20px;
         color: black;
         font-weight: 400;
      }
   
    
    .f-hd p{
        font-size: 20px;
        margin: 20px;
    }
    .f-hd h1{
        font-size: 55px;
        margin: 20px;
    }
    .caro-box{
    
        width: 380px;
        height: 380px;
           
            border-radius: 10px;
            padding: 40px;
           
            margin-top: 6%;
       
    }
    
    
      .caro-box li p{
          font-size: 18px;
         color: black;
         font-weight: 400;
     }
      
      
      .caro-hd{
          display: flex;
       
          
      }
      .caro-box h3{
        margin-left: 20px;
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 40px;
      }
      
      
      .caro-hd img{
        height: 50px;
        max-width: 50px;
       
      }
      .f-cen img{
        width: 380px;
        
    }
    #text-and-button {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        display: flex;
        align-items: center;
       
      }
    
      #text {
       margin-left: -35px;
        /*transition: max-height 0.5s;*/
    color: black;
    background: white;
       
    width: 200px;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 8px;
    
      }
      #playButton img{
        width: 60px;
        height: 60px;
      }
}


/*home*/
.hom-row{
    display: flex;
 
    margin: 10px;
    margin-bottom: 100px;
}
.hom-col{
    flex: 1;
    padding: 10px;
   
}
.hom-box{
   
    /*border-radius: 10px;
    padding: 40px 60px 40px 40px;*/
    margin-bottom: 50px;
   
}
.hom-box h3{
    color: rgb(253, 242, 203);
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
}
.hom-box p{
    font-size: 22px;
    color: rgb(253, 242, 203);
   font-weight: 400;
   margin-bottom: 30px;
}

.hom-hd{
    display: flex;
}
.hom-hd h3{
   color: rgb(253, 242, 203);
    font-weight: 600;
    font-size: 26px;
}
.hom-hd img{
    width: 60px;
    height: 60px;
    margin-left: 40px;
   margin-bottom: 30px;
}

.hom-box1{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 40px;
   
}
.hom-box1 li{
    font-size: 20px;
   
   font-weight: 400;
   margin-left: 20px;
}
.hom-box1 h3{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 26px;
}
.hom-box1 p{
    font-size: 22px;
    color: rgb(0, 0, 0);
   font-weight: 500;
   margin-bottom: 20px;
}
.hom-box h4{
    font-size: 22px;
    color: rgb(253, 242, 203);
   font-weight: 400;
}
.hom-box li{
    font-size: 20px;
    color: rgb(253, 242, 203);
   font-weight: 400;
   margin-left: 20px;
}
.hom-btn{
    background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    border-radius: 10px;
    
}
.h-btn-bx{
    padding: 20px;
}
.h-btn-bx a{
    text-decoration: none;
    font-size: 26px;
    color: black;
    font-weight: 600;
}
.hom-box2{
    margin-bottom: 40px;
}
.hom-box2 h3{
    color: rgb(253, 242, 203);
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
}
.hom-box2 p{
    font-size: 22px;
    color: rgb(253, 242, 203);
   font-weight: 400;

}
.h-line:first-child{
    border-left: 1px solid rgb(253, 242, 203);
}
.line-spc{
    padding-left: 50px;
}

#diff{
    margin: 70px 0;
    max-width: 1600px;
    margin: auto;
}
.diff-hd{
    margin: 20px;
}
.diff-hd h2{

   
     color: rgb(253, 242, 203);
     font-size: 60px;
     line-height: 90px;
     font-weight: 500;
     margin-bottom: 10px;
    
 }
 .diff-hd p{
    color: rgb(253, 242, 203);
    font-size: 26px;
    margin-bottom: 50px;
}
.diff-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   margin: 20px;
    margin-bottom: 50px;
    
}
.diff-col{
    flex-basis: 48%;
    min-width: 300px;
   
   
}
.diff-bx{
    border: 1px solid #F9E6B5;
    background: #404040 0% 0% no-repeat padding-box;
    border-radius: 10px;
}
.diff-hd1{
    padding: 50px;
}
.diff-hd1 h3{
    color: rgb(253, 242, 203);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}
.diff-hd1 p{
    color: rgb(253, 242, 203);
    font-size: 20px;
  
}

.diff-row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   margin: 20px;
    margin-bottom: 100px;
    
}
.diff-col1{
    flex-basis: 48%;
    min-width: 300px;
   
   
}
.diff-bx1{
    width: 1205px;
    border: 1px solid #F9E6B5;
    background: #404040 0% 0% no-repeat padding-box;
    border-radius: 10px;
}
@media only screen and (max-width: 800px){
    .hom-row{
       flex-wrap: wrap;
    }
    .hom-box{
   
        /*border-radius: 10px;
        padding: 40px 60px 40px 40px;*/
        margin-bottom: 50px;
       
    }
  
    .diff-col{
        flex-basis: 48%;
        min-width: 300px;
        padding: 10px;
       
       
    }
    .diff-bx{
        width: 350px;
    }
    .diff-hd1 h3{
      font-size: 26px;
    }
    .diff-hd1 p{
        color: rgb(253, 242, 203);
        font-size: 18px;
     }
     .diff-col1{
         padding: 10px;
    }
    
    .diff-bx1{
        width: 350px;
    }
    .diff-bx2 img{
        margin-left: 40px;
    }
    .line-spc{
        padding-left: 30px;
    }
}
/*icon animation*/
.img-1 {
    margin-left: -70px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .img-1:hover{
    margin-left: -65px;
    cursor: pointer;
   
  }
 
 /* .move-right {
    transform: translateX(4px);
  }*/
 
  .hom-hd .img1 {
    margin-left: -50px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .hom-hd .img1:hover{
    margin-left: -46px;
    cursor: pointer;
  }
  .hom-hd2 img{
    width: 80px;
    height: 80px;
    margin: -10px;
    margin-left: 40px;
   margin-bottom: 30px;
}
.hom-hd2 .img2 {
    margin-left: -60px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .hom-hd2 .img2:hover{
    margin-left: -56px;
    cursor: pointer;
  }
  .hom-hd2{
    display: flex;
  }

.hom-hd .img3 {
    margin-left: -56px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .hom-hd .img3:hover{
    margin-left: -52px;
    cursor: pointer;
  }
  .img4 {
    margin-left: -65px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .img4:hover{
    margin-left: -61px;
    cursor: pointer;
   }

   /*innovations*/

   #inn{
    margin: 70px 0;
    max-width: 1600px;
    margin: auto;
    margin-bottom: 100px;
   }

.inn-cen{
    margin: 20px;
}
.inn-row{
    display: flex;
    margin: 10px;
    margin-bottom: 70px;
   
}
.inn-col{
    flex: 1;
    padding: 10px;
}
.inn-col img{
    width: 500px;
height: 480px;
margin-left: 15px;

}
.inn-box{
    width: 549px;
height: 482px;
background: transparent linear-gradient(180deg, var(--unnamed-color-e8dbbd) 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #E8DBBD 0%, #FFEBB4 100%) 0% 0% no-repeat padding-box;
border-radius: 10px;
margin-top: -30%;
}
.inn-hd h3{
    
    
    font-weight: 500;
    font-size: 26px;
}

.inn-hd{
    padding: 50px;
    padding-top: 40%;
}
.inn-hd i{

font-size: 80px;
}
.inn-col h2{
    color: rgb(253, 242, 203);
    font-size: 56px;
    line-height: 90px;
    font-weight: 600;
    margin-bottom: 40px;
    
}
.inn-col p{
    color: rgb(253, 242, 203);
    font-size: 22px;
}
/*.inn-row{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
  
    margin-bottom: 50px;
    
}
.inn-col{
    flex-basis: 50%;
    min-width: 500px;
}*/


@media only screen and (max-width: 800px){
    .inn-row{
        flex-wrap: wrap;
       
    }
    .inn-col img{
        width: 300px;
    height: 300px;
    margin-left: 25px;
    
    }
    .inn-box{
        width: 340px;
        border-radius: 10px;
        margin-top: -30%;
    }

  .inn-col h2{
    
    font-size: 54px;
    line-height: 70px;
    
    
}

}


/*dropdown*/

/*.dropdown_list {
    display: none;
    position: absolute;
 
  
    margin-top: 50px;
 
  }
  #MenuItems li:hover > ul.desktop-item {
    display: block;
  }*/

 /*animi*/
 #ani-cen{
    margin: 20px;
 }
 #animi{
   
      max-width: 1600px;
      margin: auto;
      
    }
    .animi-bx{
        width: 1558px;
    height: 639px;
    background: rgba(37, 38, 33, 0.929);
    border-radius: 10px;
 
    box-shadow: 2px 0px 10px #e8dbbd;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 10px #ffebb4ac, 1px 1px 5px #ffebb4bf;
    }
    .animi-in-bx{
        width: 1400px;
        height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    border: 1px solid rgba(123, 123, 115, 0.259);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .img-1 img{
       right: 1358px;
        position: absolute;
        top: 450px;
    }
    .img-2 img{
       right: 2px;
        position: absolute;
        top: 479px;
    }
    
    .circle-1{
        width: 1200px;
        height: 700px;
        border: 1px solid rgba(123, 123, 115, 0.259);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    }
    .img-3 img{
       right: 1113px;
        position: absolute;
        top: 170px;
    }
    .img-4 img{
       right: -29px;
        position: absolute;
        top: 325px;
    }
    .circle-2{
        width: 1000px;
        height: 600px;
        border: 1px solid rgba(123, 123, 115, 0.259);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .img-5 img{
       right: 923px;
        position: absolute;
        top: 532px;
    }
    .circle-3{
        width: 800px;
        height: 450px;
        border: 1px solid rgba(123, 123, 115, 0.259);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .circle-4{
        width: 600px;
        height: 300px;
        border: 1px solid rgba(123, 123, 115, 0.259);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .ani-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        display: flex;
        align-items: center;
    
    }
    .ani-hd{
       text-align: center;
    color: white;
    }
    .ani-hd h2{
        color: rgb(253, 242, 203);
         font-size: 43px;
      
         font-weight: 500;
         margin-bottom: 10px;
    }
    .ani-hd p{
        color: rgb(253, 242, 203);
        font-size: 23px;
        margin-bottom: 30px;
    }
    
    
    
    .submit {
    
   
      cursor: pointer;
      width: 317px;
    height: 78px;
    background: var(--unnamed-color-e7dcbd) 0% 0% no-repeat padding-box;
    background: #E7DCBD 0% 0% no-repeat padding-box;
      color: #1A1A1A;
      border: none;
      font-size: 30px;
    
      border-radius: 37px;
    }
    @media only screen and (max-width: 800px){
        .animi-bx{
            width: 370px;
        height: 200px;
       
        }
        .animi-in-bx{
            width: 320px;
            height: 220px;
    
        border-radius: 100%;
       
        
        }
    
        .circle-1{
            width: 270px;
            height: 200px;
           
        border-radius: 100%;
        
        }

        .circle-2{
            width: 220px;
            height: 150px;
        }
        .circle-3{
            width: 180px;
            height: 100px;
        }

        .circle-4{
            width: 120px;
            height: 70px;
            
        }
        .img-1 img{
            right: 300px;
     
             top: 128px;
             width: 20px;
             height: 20px;
         }
         .img-2 img{
            right: 3px;
            top: 150px;
            width: 20px;
            height: 20px;
         }
         .img-3 img{
            right: 233px;
            width: 20px;
            height: 20px;
             top: 32px;
         }
         .img-4 img{
            right: -10px;
             
             top: 89px;
             width: 20px;
            height: 20px;
         }
         .img-5 img{
            right: 194px;
            width: 20px;
            height: 20px;
             top: 144px;
         }
        .ani-hd h2{
            color: rgb(253, 242, 203);
             font-size: 10px;
          
            
        }
        .ani-hd p{
            color: rgb(253, 242, 203);
            font-size: 8px;
            margin-bottom: 8px;
        }
        
        
        
        .submit {
        width: 100px;
        height: 25px;
        font-size: 12px;
        border-radius: 37px;
        }
    }